%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: {class: 'form-horizontal'}) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    = f.label :current_password, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.password_field :current_password, autocomplete: "off"
      %i We need your current password to confirm your changes.
  .form-group
    = f.label :password, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.password_field :password, autocomplete: "off"
      %i Leave this field blank if you don't want to change it.
  .form-group
    = f.label :password_confirmation, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.password_field :password_confirmation, autocomplete: "off"
      %i Re-enter new password
  .form-group
    .col-sm-offset-2.col-sm-6
      = f.submit "Update", class: 'btn btn-primary'
      %div
