%h2 Manage Groups
.row
  .col-md-12
    = link_to 'Create Group', new_admin_group_path, class: 'btn btn-success'

%hr/

.row
  .col-md-12
    %table.table.table-hover
      %tbody
        %tr
          %th Name
          %th Location
          %th Unit
          %th Show
          %th Edit
          %th Delete
        - @groups.each do |group|
          %tr
            %td
              = group.name
            %td
              = group.location
            %td
              = group.unit
            %td
              = link_to 'Show', admin_group_path(group), class: 'btn btn-success'
            %td
              = link_to "Edit", edit_admin_group_path(group), class: "btn btn-warning"
            %td
              = link_to "Delete", admin_group_path(group), method: :delete, class: "btn btn-danger", confirm: "Are you sure?"
