.page-header
  %h2 Manage Groups
  = link_to 'Create a New Group', new_admin_group_path, class: 'btn btn-success'

.row
  .col-md-12
    %table.table.table-hover
      %h3 Groups
      %tbody
        %tr
          %th ID
          %th Name
          %th Location
          %th Unit
          %th Show
          %th Edit
          %th Delete
        - @groups.each do |group|
          %tr
            %td
              = group.id
            %td
              = group.name
            %td
              = group.location
            %td
              = group.unit
            %td
              = link_to 'Show', admin_group_path(group), class: 'btn btn-success'
            %td
              = link_to "Edit", edit_admin_group_path(group), class: "btn btn-warning"
            %td
              = link_to "Delete", admin_group_path(group), method: :delete, class: "btn btn-danger", confirm: "Are you sure?"
