.page-header
	%h2
		= @group.name
	%p= "This is a summary of #{@group.name.pluralize} information, including group information and the memebers of this group."

.col-md-12
	%table.table.table-hover
		%h3 Group Information
		%thead
			%tr
				%th ID
				%th Name
				%th Location
				%th Unit
		%tbody
			%tr
				%td
					= @group.id
				%td
					= @group.name
				%td
					= @group.location
				%td
					= @group.unit

.col-md-12
	%table.table.table-hover
		%h3 Group Members
		%thead
			%tr
				%th ID
				%th Email
				%th First Name
				%th Last Name
				%th Role
		%tbody
			%tr
				- @group.users.each do |user|
					%tr
						%td
							=user.id
						%td
							=user.email
						%td
							=user.first_name
						%td
							=user.last_name
						%td
							=user.role

= link_to 'Back', admin_groups_path, class: "btn btn-success pull-left"