.page-header
	%h2
		= @group.name

.col-md-12
	%table.table.table-hover
		%thead
			%tr
				%th ID
				%th Name
				%th Location
				%th Unit
		%tbody
			%tr
				%td
					= @group.id
				%td
					= @group.name
				%td
					= @group.location
				%td
					= @group.unit

%h2
	Group Members

.col-md-12
	%table.table.table-hover
		%thead
			%tr
				%th Email
				%th First Name
				%th Last Name
				%th Role
		%tbody
			%tr
				- @group.users.each do |user|
					%td
						=user.email
					%td
						=user.first_name
					%td
						=user.last_name
					%td
						=user.role