= form.text_field :email
= form.text_field :first_name
= form.text_field :last_name
= form.text_field :group_id
= form.text_field :role

= form.form_group :class => 'form-actions' do
  = form.primary @user.new_record?? '.create' : '.update'