!!!
%html
  %head
    %title Paingain
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    =render 'layouts/shared/navbar'
    .container.theme-showcase
      = render 'layouts/shared/messages'
      = yield
    = render 'layouts/shared/footer'
