!!!
%html
  %head
    %title Paingain
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Paediatric Pain Toolkit
        .navbar-collapse.collapse
          %form.navbar-form.navbar-right{:role => "form"}
            = render 'layouts/user_header'
        / /.navbar-collapse
    .notice= notice
    .alert= alert
    .container
      = yield
    %footer
      %hr/
      %p &copy; SickKids 2014
